

GameLibrary.iml
dao/dao.iml
dao/src/test/
service/service.iml
service/src/test/
web/src/main/resources/
web/web.iml
.idea/
dao/target/
service/target/
web/target/
target/
web/src/main/webapp/WEB-INF/jsp/test.html
